* {
    margin: 0;
}

header {
    height: 150px;
    background-image: url("../img/pattern.png");
    background-color: lightskyblue;
}

#banner {
    height: 70px;
    margin-top: 75px;
    margin-left: 10px;
}

a {
    text-decoration: none;
    color: rgb(0, 153, 255) 
}

h3 {
    color: grey
}

h4 {
    color: grey
}