* {
    margin: 0;
}

header {
    height: 150px;
    background-image: url("../img/pattern.png");
    background-color: lightskyblue;
}

#banner {
    height: 70px;
    margin-top: 75px;
    margin-left: 10px;
}

a {
    text-decoration: none;
    color: rgb(0, 153, 255) 
}

h3 {
    color: grey
}

h4 {
    color: grey
}

span {
    background-color: yellow;
}

p {
    margin-top: 20px;
    margin-bottom: 20px;
}

ul{
    margin-bottom: 40px;
    padding-left: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 40px;
}

th {
    padding: 10px;
}

thead {
    background-color: rgb(26, 170, 230);
    color: white
}

td {
    padding: 10px;
}

.dispari {
    background-color: rgb(178, 230, 242);
}